.birthdayHeading{
    position: relative;
    top: -300px;
    background: url(../images/textbg1.jpg), green;
    background-blend-mode: multiply;
    background-size: contain;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-weight: 900;
    font-size: 72px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.wishAppear{
    animation: appear 0.5s ease-out 1s 1 forwards;
}
@keyframes appear {
    0%{
        top: -300px;
    }100%{
        top: 20px;
    }
}